# fly.toml app configuration file
# https://fly.io/docs/reference/configuration/

app = "bybit-proxy"
primary_region = "sin" # Singapore

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  PORT = "3001"
